
header{
    padding: 3px;
    padding-left: 10px;
    vertical-align: middle;
    background-color: #2E2D65;
    height: 12%;
    width: 100%;
    display:flex;
    position: fixed;
}
a{
    text-decoration: none;
    color: #D9D9D9;
}
header > p{
    margin-left: 10px;
    margin-top: 1%;
}
header > img {
    height: 60px;
    border-radius: 100%;
    display: inline;
}
main {
    padding: 1%;
}
.logo-img{
    width: 100%;
    margin-top: 5%;

}

