{% extends "base.html" %}

{% block styles %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <script>
      const buy_data =  JSON.parse('{{ buy_data | tojson }}');
      const sell_data = JSON.parse('{{ sell_data | tojson }}');
      const edata =  JSON.parse('{{ edata | tojson }}');
      const dataset_url = 'http://127.0.0.1:5000/api/{{ company }}';
      const company_name = '{{ full_company_name }}';
    </script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
<div class="container-fluid" style="padding-top: 100pt;">
  <div class="row">
    <main>
      <img src="{{ pic_url }}" style="height: 150px; background: snow;  margin-left: 20pt">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div style=" margin-left: 20pt; max-width: 80%">
           <h1 class="h2" style="color: #e5e8eb; padding-top: 15pt">{{ full_company_name }} ({{ company }})</h1>
          <span style="color:white; width: 200pt">{{ description }}</span>

        </div>
                 <div class="dropdown text-end" style="color: white;">
            <div class="d-block link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 2px 5px; border: solid #b3b3b3; border-radius: 10px; width: fit-content">
              <a href="#" class="text-decoration-none" >
                <span style="color: black;">period</span>
              </a>
            </div>

          <div class="dropdown-menu text-small">
            <form action="" method="post" style="padding: 5pt">
<!--                <input type="text" name="period" maxlength="1" >-->
                <select class="form-control" name="period">
                    <option>Выберете период</option>
                    <option>D (day)</option>
                    <option>W (week)</option>
                </select>
                <input type="number" name="total" placeholder="Сколько дней/недель?">
                <input type="submit">
            </form>
          </div>
        </div>

      </div>

      <div class="my-4 w-100" id="myChart"></div>
      <br>


      <h2 style="color: #e5e8eb">Данные по графику</h2>
      <div class="table-responsive small" style="padding: 15px; width: fit-content;">
        <table class="table table-striped table-sm" >
          <thead >
            <tr>
              <th scope="col" style="background: #001739;color: white">Дата</th>
              <th scope="col" style="background: #001739;color: white">Открытие</th>
              <th scope="col" style="background: #001739;color: white">Закрытие</th>
              <th scope="col" style="background: #001739;color: white">Максимум</th>
              <th scope="col" style="background: #001739;color: white">Минимум</th>
            </tr>
          </thead>
          <tbody>
          {% for el in table_data %}
            <tr>
              <td style="background: #001739;color: white">{{ el[0] }}</td>
              <td style="background: #001739;color: white">{{ el[1] }}</td>
              <td style="background: #001739;color: white">{{ el[2] }}</td>
              <td style="background: #001739;color: white">{{ el[3] }}</td>
              <td style="background: #001739;color: white">{{ el[4] }}</td>
            </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
<script src="/static/script/dashboard.js"></script>
{% endblock %}