{% extends "base.html" %}

{% block styles %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <script>
      const edata = {{ graph_data }};
      const dataset_url = 'http://127.0.0.1:5000/api/{{ company }}';
      const company_name = '{{ full_company_name }}';
    </script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
<div class="container-fluid" style="padding-top: 100pt">
  <div class="row">
    <main>
      <img src="{{ pic_url }}" style="height: 150px; background: snow;">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
           <h1 class="h2" style="color: #e5e8eb; padding-top: 15pt">{{ full_company_name }} ({{ company }})</h1>
          <span style="color:white; width: 200pt">{{ description }}</span>

        </div>
                 <div class="dropdown text-end" style="color: white;">
            <div class="d-block link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 2px 5px; border: solid #616161; border-radius: 10px; width: fit-content">
              <a href="#" class="text-decoration-none" >
                <span style="color: #616161;">period</span>
              </a>
            </div>

          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/company_page/{{ company }}/D/100">Day</a></li>
            <li><a class="dropdown-item" href="/company_page/{{ company }}/W/100">Week</a></li>
          </ul>
        </div>

      </div>

      <div class="my-4 w-100" id="myChart"></div>

      <h2 style="color: #e5e8eb">Данные по графику</h2>
      <div class="table-responsive small" style="padding: 15px">
        <table class="table table-striped table-sm" >
          <thead >
            <tr>
              <th scope="col" style="background: #001739;color: white">Дата</th>
              <th scope="col" style="background: #001739;color: white">Открытие</th>
              <th scope="col" style="background: #001739;color: white">Закрытие</th>
              <th scope="col" style="background: #001739;color: white">Максимум</th>
              <th scope="col" style="background: #001739;color: white">Минимум</th>
            </tr>
          </thead>
          <tbody>
          {%for i in range(16)%}
            <tr>
              <td style="background: #001739;color: white">1,001</td>
              <td style="background: #001739;color: white">random</td>
              <td style="background: #001739;color: white">data</td>
              <td style="background: #001739;color: white">placeholder</td>
              <td style="background: #001739;color: white">text</td>
            </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
<script src="/static/script/dashboard.js"></script>
{% endblock %}