{% extends "base.html" %}


  {% block content%}
<img src="/static/img/logo.png" style="object-fit: cover; height: 1000px; width: 100%;">
<main>

<div id="site0" >
    <h3 style="padding-left: 5%; ">В бесплатной версии вы можете:</h3>
    <div class="row" style="padding-left: 5%; padding-right: 35%;">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist" style=" width: max-content">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Акции</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Отслеживание акций</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Подписка</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">В бесплатной версии сайта предложено 10 российских, 10 американских компаний и 3 криптовалюты.</div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Можно добавить акцию себе в избранное, а также просматривать избранные акции других пользователей!</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><a href="/sub"><b>Подписка</b></a> дает возможность спрогнозировать данные торгов на будущее!</div>
        </div>
      </div>
    </div>
</div>
    <div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-2" >
      <div class="maincard   mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/RUS"><h2 class="display-5">Российские компании</h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                {% for el in massiv %}
                    {% if el[2] == "RUS" %}
                    <li><a href="/company_page/{{ el[0] }}/D/1000" style="color: black">{{ el[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
      </div>
        <div class="maincard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/USA"><h2 class="display-5">Иностранные компании </h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                {% for el in massiv %}
                    {% if el[2] == "USA" %}
                    <li><a href="/company_page/{{ el[0] }}/D/1000" style="color: black">{{ el[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
      </div>

    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-2" >
    <div class="maincard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/CRYPTO"><h2 class="display-6">Криптовалюты</h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                {% for el in massiv %}
                    {% if el[2] == "CRYPTO" %}
                    <li><a href="/company_page/{{ el[0] }}/D/1000" style="color: black">{{ el[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px; height: 1px">
        <div class="my-3 py-3">

        </div>
        <div class="" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">

            </ul>
        </div>
    </div>
    </div>
</main>
{%endblock%}