{% extends "base.html" %}


  {% block content%}
<img src="/static/img/logo.png" style="object-fit: cover; height: 1000px; width: 100%;">
<main>

    <div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-2" >
      <div class="maincard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin: auto; border-radius: 15px; margin-top: 0">
        <div class="my-3 py-3">
          <a href="/companies/RUS"><h2 class="display-5">Российские компании</h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                {% for el in massiv %}
                    {% if el[2] == "RUS" %}
                    <li><a href="/company_page/{{ el[0] }}/D/1000" style="color: black">{{ el[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
      </div>
        <div class="maincard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/USA"><h2 class="display-5">Иностранные компании </h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                {% for el in massiv %}
                    {% if el[2] == "USA" %}
                    <li><a href="/company_page/{{ el[0] }}/D/1000" style="color: black">{{ el[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
      </div>

    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-2" >
    <div class="maincard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/CRYPTO"><h2 class="display-6">Криптовалюты</h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                {% for el in massiv %}
                    {% if el[2] == "CRYPTO" %}
                    <li><a href="/company_page/{{ el[0] }}/D/1000" style="color: black">{{ el[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px; height: 1px">
        <div class="my-3 py-3">

        </div>
        <div class="" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">

            </ul>
        </div>
    </div>
    </div>
</main>
{%endblock%}