{% extends "base.html" %}


  {% block content%}
<img src="/static/img/logo.png" width="100%">
<main>


    <div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-2" >
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/RU"><h2 class="display-5"> Российские компании</h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">
                <li><a href="/company_page/YNDX/100">Яндекс</a></li>
                <li>Газпром</li>
                <li>Лукойл</li>
                <li>Московская биржа</li>
                <li>Сбер</li>
                <li>Тинькофф</li>
                <li>Аэрофлот</li>
                <li>ВТБ</li>
                <li>Ростелеком</li>
                <li>Новатэк</li>
            </ul>
        </div>
      </div>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/companies/US"><h2 class="display-5">Иностранные компании </h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">

                <li>Apple</li>
                <li>Tesla</li>
                <li>Meta</li>
                <li>Airbus</li>
                <li>Boeing</li>
                <li>Starbucks</li>
                <li>Nike</li>
            </ul>
        </div>
      </div>

    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-2" >
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px">
        <div class="my-3 py-3">
          <a href="/crypto"><h2 class="display-6">Криптовалюты</h2></a>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">

                <li>Bitcoin</li>
                <li>Dogecoin</li>
                <li>Ethereum</li>
                <li>Toncoin</li>
            </ul>
        </div>
    </div>
        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="margin-right: auto; border-radius: 15px; height: 1px">
        <div class="my-3 py-3">

        </div>
        <div class="" style="width: 80%; height: fit-content; border-radius: 21px 21px 21px 21px; vertical-align: middle">
            <ul class="list-unstyled" style="color: black; padding: 20px">

            </ul>
        </div>
    </div>
    </div>
</main>
{%endblock%}