{% extends "base.html" %}

{% block content %}
<div style="padding-top: 10%">
<div class="w-25 mx-auto">
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.user_id.label }}<br>
        {{ form.user_id(class="form-control") }}<br>
        {% for error in form.user_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.user_password.label }}<br>
        {{ form.user_password(class="form-control", type="password") }}<br>
        {% for error in form.user_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</div>
</div>
{% endblock %}