{% extends "base.html" %}
  {% block content%}
<main >
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm" >
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Бесплатный пробный период</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ мес.</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Включена 1 компания</li>
          <li></li>
          <li>30 дней</li>
          <li>Поддержка по email</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" onClick="location.href='/register'">Создать аккаунт</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm" >
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Полная версия</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ мес.</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Все доступные компании</li>
          <li>Нет ограничений по времени</li>
          <li>Все доступные алгоритмы анализа</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" disabled>Связаться с нами</button>
      </div>
    </div>
    </div>
  </div>
</div>
</main>
{%endblock%}
