{% extends "base.html" %}


  {% block content%}
    <main style="display: flex;">
        
        <ul class="nav flex-column" style="margin-top: 100px; width: fit-content; height: 100%; position: fixed">
            <li class="nav-item">
              <a class="nav-link" href="#user-info">Инфорамция о пользователе</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#watching">Отслеживаемое</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <div style="margin-top: 100px; margin-left: 22%; display: block;">
            <div id="user-info">
                <h5>Информация о пользователе:</h5>
                <p>id: {{ id }}</p>
                <p>name: {{ name }}</p>
                <p>email: {{ email }}</p>
                <p>something else</p>

            </div>
            
            <div id="watching" style="margin-top: 85px;">
                <h5>Отслеживаемое</h5>
                <div class="container" style="padding-top: 10px" id="companies">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                      {%for i in range(5)%}
                      <div class="col">
                        <div class="card shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                          <div class="card-body">
                            <p class="card-text">Это более широкая карточка с вспомогательным текстом ниже как естественный ввод к дополнительному контенту. Этот контент немного длиннее.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                              </div>
                              <small class="text-muted"> {{delta}}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    </div>
                   </div>
            </div>
        </div>
    </main>
{%endblock%}