{% extends "base.html" %}


  {% block content%}
    <main style="display: flex; color:#e5e8eb">
        
        <ul class="nav flex-column" style="margin-top: 100px; width: fit-content; height: 100%; position: fixed">
            <li class="nav-item">
              <a class="nav-link" href="#user-info">Информация о пользователе</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#watching">Отслеживаемое</a>
            </li>
        </ul>
        <div style="margin-top: 100px; margin-left: 22%; display: block;">
            <div id="user-info">
                <h5>Информация о пользователе:</h5>
                <p>id: {{current_user.id}}</p>
                <p>Name: {{ current_user.name }}</p>
                <p>Surnname: {{ current_user.surname }}</p>
                <p>Email: {{ current_user.email }}</p>

            </div>
            
            <div id="watching" style="margin-top: 85px;">
                <h5>Отслеживаемое</h5>
                <div class="container" style="padding-top: 10px; color: black" id="companies">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<!--                      {%for i in range(4)%}-->
                      <div class="col" style=" min-width: fit-content">
                        <div class="card shadow-sm" style="padding-top: 5px;">
                            <img src="" alt=":(">
                          <div class="card-body" style=" background: #0f3163; color:#f0f8ff; margin-top: 5px">
                            <p class="card-text">Яндекс</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"  onClick="location.href='/company_page/YNDX/D/100'">Подробнее</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary"  onClick="" disabled>Перестать отслеживать</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
<!--                      {%endfor%}-->
                    </div>
                   </div>
            </div>
        </div>
    </main>
{%endblock%}