<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="st.css">
</head>
<body>
    <header>
        <p>
          <a href="">id {{id}}</a>
        </p>
        <img class="profile" src="img/profile-pic.png" alt="">
    </header>
    <main style="display: inline;">
        
        <ul class="nav flex-column" style="margin-top: 85px; width: fit-content;">
            <li class="nav-item">
              <a class="nav-link" href="#user-info">User info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#watching">Избранное</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <div id="user-info">
            
            <span>id: {{id}}</span>
            <p>name: {{name}}</p>
            <p>something else</p>

        </div>
        <div id="watching">
            Отслеживаемое
            <ul style="list-style: none;">
                {% for i in range(n) %}
                <li class="nav-item">
                    <a class="nav-link" href="company/i">Компания {{i}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </main>
</body>
</html>